version: '3.8'

services:
  redis:
    image: redis:{{ redis_version }}
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
    restart: unless-stopped
    networks:
      - redis-net

networks:
  redis-net:
    driver: bridge